.emptycart{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullcart{
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

.fullcart h2{
    display: flex;
    justify-content: center;
}

.fullcart .controlCart{
    display: flex;
    justify-content: space-evenly;
}

.fullcart .controlCart a{
    font-size: larger;
}
.fullcart .controlCart button{
    font-size: larger;
}

.productcard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: solid;
    border-color: #00ff00;
    margin: 10px;
}

.productcard img{
    width: 150px;
}

