.formBuyer{
    color: aliceblue;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.formBuyer .data{
    padding: 10px;
}

.formBuyer .data label{
    padding-right: 10px;
}

.successForm{
    display: flex;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
}

.successForm a{
    padding-top: 16px;
}